<app-top></app-top>
<div *ngIf="running; else gameOverWin">
    <app-panel (endGame)="endGame($event)"></app-panel>
</div>
<ng-template #gameOverWin>
    <div *ngIf="won; else gameOverLost" class="container" style="margin-top: 10%;">
        <div class="row">
            <div class="col text-center">
                <h3 style="color: green">
                    You win!
                </h3>
                <button class="btn btn-primary" (click)="restartGame()">Restart</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #gameOverLost>
        <div class="container" style="margin-top: 10%;">
            <div class="row">
                <div class="col text-center">
                    <h3 style="color: red">
                        You Lost!
                    </h3>
                    <button class="btn btn-primary" (click)="restartGame()">Restart</button>
                </div>
            </div>
        </div>
</ng-template>