<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <h6>{{infos[0]}}</h6>
        <app-progress [barPercentage]="barPercentage"></app-progress>
      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-end">
          {{infos[1]}}
          <span>&nbsp;</span>
          <app-attempts [attempts]="attempts"></app-attempts>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group label">
          <p>{{infos[2]}}</p>
        </div>
        <div class="form-group question-area">
          <p>{{roundQuestion.question}}</p>
        </div>
        <div class="form-group">
          <label for="answer_area">Answer:</label>
          <textarea (input)="updateAnswer($event)" class="form-control" [value]="answer" id="answer_area" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex justify-content-end">
          <button type="button" (click)="checkAnswer()" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
